name: Update Log List
on:
    schedule:
        # every day at 2:00 pm
        -   cron: '0 14 * * *'

jobs:
    resources:
        name: Update log list
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v3
                with:
                    token: ${{ secrets.AUTO_UPDATE_GITHUB_TOKEN }}
            -   uses: actions/setup-java@v3
                with:
                    distribution: 'zulu'
                    java-version: '17'

            -   name: Fetch latest log list
                run: ./gradlew updateLogList

            -   name: Push log list
                uses: stefanzweifel/git-auto-commit-action@v4
                with:
                    commit_message: Auto update log_list.json and log_list.sig
                    file_pattern: 'certificatetransparency/src/main/resources/*'
