name: CI

on:
  push:
    branches:
    - main
    tags:
    - '*'
  pull_request:
    branches:
    - main

jobs:

  validation:
    name: "Validation"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: gradle/wrapper-validation-action@v1

  build:
    needs: [validation]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Build with Gradle
      run: ./gradlew build --stacktrace

    - name: Upload reports
      if: failure()
      uses: actions/upload-artifact@master
      with:
          name: test-results
          path: '**/build/reports/**'

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
          token: ${{secrets.CODECOV_TOKEN}}

    - name: Prepare tag properties
      run: |
          echo "${{secrets.GPG_SIGNING_SECRET_KEY_RING_FILE_BASE64}}" > ~/.gradle/sonatype-appmattus-keys.gpg.b64
          base64 -d ~/.gradle/sonatype-appmattus-keys.gpg.b64 > ~/.gradle/sonatype-appmattus-keys.gpg
          echo "${{secrets.GPG_GRADLE_PROPERTIES}}" > ~/.gradle/gradle.properties
      if: startsWith(github.ref, 'refs/tags/')

    - name: Upload tag
      run: ./gradlew publishAllPublicationsToMavenCentral -Psigning.secretKeyRingFile=$(echo ~/.gradle/sonatype-appmattus-keys.gpg)
      if: startsWith(github.ref, 'refs/tags/')
